:root {
    --primary: hsla(0, 0%, 100%, 0.65);
    --secondary: hsla(0, 0%, 100%, 0.99);

}



body {
    margin: 0px;
    padding: 0px;
}



.container {
    width: 100%;
    height: 660px;
    background: white;
 
}

.container2 {
    width: 100%;
    height: 60%;
    background: url("greenbackground.jpg");
    background-size: cover;
    background-position: center;
   
    
}

.smallhead {
    position: absolute;
    color: rgb(151, 238, 11);
    opacity: 0.5;
    margin-top: 6.8%;
    margin-left: 14.5%;
}

.greencircle {
    position: absolute;
    background: rgb(151, 238, 11);
    opacity: 0.5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8.3%;
    margin-left: 12.4%;
}

.extraline {
    height: 0.6%;
    width: 150px;
    background: rgb(151, 238, 11);
    opacity: 0.5;
    position: absolute;
    margin-left: 24.4%;
    margin-top: 17%;
   
}


.extraline2 {
    height: 80px;
    width: 0.3%;
    background: rgb(151, 238, 11);
    opacity: 0.5;
    position: absolute;
    margin-left: 35.2%;
    margin-top: 11.1%;
   
}




.greencircle2 {
    position: absolute;
    background: rgb(151, 238, 11);
    opacity: 0.7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 4%;
    margin-left: 12.4%;
    z-index: 80;
}

.smallhead1 {
    position: absolute;
    margin-top: 9%;
    margin-left: 14.5%;
}

.aboutus {
    position: absolute;
    color: rgba(151, 238, 11, 0.699);
    font-size: 20px;
    z-index: 80;
    margin-top: 1.5%;
    margin-left: 20%;
}
.white {
    color: white;
}

.lightgreen {
    margin-top: -25px;
    color: rgb(204, 253, 191);
}

.fadegreen {
    margin-top: -25px;
    color: rgb(151, 238, 11);
    opacity: 0.8;
}

.smallline {
    height: 525px;
    width: 0.3%;
    background: rgb(151, 238, 11);
    opacity: 0.5;
    position: absolute;
    margin-left: 13%;
    margin-top: -522px;
}





.container3 {
    width: 100%;
    height: 40%;
    background:
    linear-gradient(180deg, var(--primary), var(--secondary)),
    url("whitenature.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

.imagebar {
    display: inline-flex;
    margin-left: 13%;
    margin-top: -6%;
}



.one {
    margin-left: 5%;
    width: 200px;
    
}
.one img {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.one p {
    
    width: 200px;
    
    
}

.button {
   
    width: 120px;
    height: 30px;
    background: rgb(151, 238, 11);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  
}

.button p {
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
}

.two {
    margin-left: 5%;
    width: 200px;
    
}
.two img {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.three {
    margin-left: 5%;
    width: 200px;
    
}
.three img {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.four {
    margin-left: 5%;
    width: 200px;
    
}
.four img {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.container4 {
    width: 100%;
    height: 400px;
    background: rgb(151, 238, 11);
}

.login {
    background: rgb(151, 238, 11);
    width: 100%;
    height: 4%;
    opacity: 0.6;
    position: fixed;
}

.loginbar ul {
    position: fixed;
    color: white;
    top: 0px;
    margin-top: 5px;
    padding-top: 0px;
    margin-right: 25px;
    list-style: none;
    right: 0px;
}

.loginbar ul a {
    color: white;
    text-decoration: none;

}

.menubar {
    position: fixed;
    text-align: center;
    display: inline-flex;
    margin-top: 2%;
    margin-left: 5%;
    z-index: 10;
    
}

.menubar img {
    position: fixed;
    margin-top: -8px;
    left: 0px;
   
}

.menubar ul li a::after {
    content: "";
    position: absolute;
    background-color: rgb(151, 238, 11);
    height: 3px;
    width: 0px;
    margin-left: -50px;
    bottom: 22px;
    transition: 0.3s;
   
}

.menubar ul li a:hover::after{
    width: 60px;

}

.menubar h1 {
    color: white;
}


.menubar ul {
    display: inline-flex;
    color: white;
    list-style: none; 
    margin-left: 94%;
}

.menubar ul li {
    margin-left: 20%;
    margin-top: 5%;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
}

.sub-menutext {
    display: none;
}

.menubar ul li:hover .sub-menutext {
    display: block;
    position: absolute;
    border-radius: 10px;
    margin-left: -40px;
   
}
.sub-menutext ul li a:hover {
    color: rgb(151, 238, 11);
}


.menubar ul li:hover .sub-menutext ul {
    display: block;
    position: absolute;
    z-index: 35;
    margin-top: 20px;
}

.menubar ul li:hover .sub-menutext ul li {
    
    background: transparent;
    width: 80px;
    border-bottom: solid white 1px;
    text-align: center;
    padding-bottom: 10px;
    margin-left: -15px;
    margin-top: 10px;
    z-index: 35;
   
}

.menubar i {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
}


.sub-menu1 {
    display: none;
    z-index: 1;
}


.sub-menu {
    position: absolute;
    display: none;
    z-index: 30;
    width: 150px;
    height: 200px;
    background: black;
}

.menubar ul li:hover .sub-menu {
   
    position: absolute;
    background: black;
    opacity: 0.5;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: -50px;
}

.menubar ul li:hover .sub-menu {
    display: block;
    z-index: 1;
}



.sub-menutext1 {
    display: none;
}

.menubar ul li:hover .sub-menutext1 {
    display: block;
    position: absolute;
    border-radius: 10px;
    margin-left: -10px;
   
}


.menubar ul li:hover .sub-menutext1 ul {
    display: block;
    position: absolute;
    z-index: 35;
    margin-top: 20px;
}

.menubar ul li:hover .sub-menutext1 ul li {
    
    background: transparent;
    width: 130px;
    border-bottom: solid white 1px;
    text-align: center;
    margin-left: -60px;
    z-index: 35;
    margin-top: 8px;
    padding-bottom: 5px;
   
}

.menubar ul li:hover .sub-menutext ul li:last-child {
    border-bottom: none;
}




.sub-menu1 {
    display: none;
    z-index: 1;
}


.sub-menu1 {
    position: absolute;
    display: none;
    z-index: 30;
    width: 200px;
    height: 230px;
    background: black;
}

.menubar ul li:hover .sub-menu1 {
   
    position: absolute;
    background: black;
    opacity: 0.5;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: -63px;
}

.menubar ul li:hover .sub-menu1 {
    display: block;
    z-index: 1;
}

.menubar ul li:hover .sub-menutext1 ul li:last-child {
    border-bottom: none;
}

.sub-menutext1 ul li a:hover {
    color: rgb(151, 238, 11);
}


.sub-menutext ul li a::after {

    background:none;
}


.sub-menutext1 ul li a::after {
    
    background:none;
}


.container4 {
    width: 100%;
    height: 655px;
    background: url("mossrock.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: rgba(151, 238, 11, 0.678) solid 20px;
    
}

.whitebox {
    height: 99.7%;
    width: 50.5%;
    background: black;
    opacity: 0.8;
    position: absolute;
    right: 0px;
}

.smallline1 {
    height: 610px;
    width: 0.3%;
    background: rgb(151, 238, 11);
    opacity: 0.5;
    position: absolute;
    margin-left: 13%;
    
    
}

.smallline2 {
    height: 0.6%;
    width: 170px;
    background: rgb(151, 238, 11);
    opacity: 0.5;
    position: absolute;
    margin-left: 13%;
    margin-top: 610px;
}



.bigbox {
    height: 85%;
    width: 60%;
    background:
    linear-gradient(180deg, var(--primary), var(--secondary)),
    url("whitemountain.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 1px;
    z-index: 70;
    margin-top: 50px;
    right: 40px;
    display: inline-flex;
}

.lefttext {
    width: 25%;
    height: 80%;
    padding: 20px;
    border-right: solid 0.5px rgb(221, 221, 221);
    margin-left: 20px;
    margin-top: 30px;
}

.lefttext h3 {
    border-left: solid rgb(151, 238, 11) 10px;
    padding-left: 5px;
    margin-left: -15px;
    font-style: italic;
}

.middletext {
 
    width: 25%;
    height: 80%;
    padding: 20px;
    border-right: solid 0.5px rgb(221, 221, 221);
    margin-left: 20px;
    margin-top: 30px;
    
}

.middletext h3 {
    border-left: solid rgb(151, 238, 11) 10px;
    padding-left: 5px;
    margin-left: -15px;
    font-style: italic;
}

.righttext {
    width: 25%;
    height: 80%;
    padding: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.righttext h3 {
    border-left: solid rgb(151, 238, 11) 10px;
    padding-left: 5px;
    margin-left: -15px;
    font-style: italic;
}

.lefttext p {
    color: rgb(80, 80, 80);
    font-style: italic;
}

.middletext p {
    color: rgb(80, 80, 80);
    font-style: italic;
}

.righttext p {
    color: rgb(80, 80, 80);
    font-style: italic;
}
.leftbox {
    height: 99.7%;
    width: 49.5%;
    background: black;
    position: absolute;
    opacity: 0.5;
    left: 0px;

}

.container4 i {
    font-size: 40px;
    display: block;
    z-index: 80;
    color: rgb(151, 238, 11);
    opacity: 0.7;
    margin-top: 40px;
}

.iconbox {
    width: 6%;
    margin-left: 70px;
    position: absolute;
    margin-top: 180px;

    
 
}

.overlay2{
    background:rgb(151, 238, 11);
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.container5 {
    height: 1300px;
    width: 100%;
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
    url("misty.jpg");
    background-size: cover;
    background-position: center;
    
}


.line2 {
    height: 400px;
    width: 5px;
    background: rgb(151, 238, 11);
}

.container6 {
    width: 100%;
    height:250px;
    background: url("snowmountain.jpg");
    background-size: cover;
    background-position: center;  
}


.overlay3 {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.overlay4 {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}




.container8 {
    height: 400px;
    width: 100%;
    background: url("woodsbackground.jpg");
    background-size: cover;
    background-position: center;

}

.footer {
    height: 250px;
    width: 100%;
    background: black;
}

.titlebox {
    position: absolute;
    display: inline-flex;
    z-index: 70;
    margin-left: 545px;
    margin-top: 70px; 
}

.make {
    color: rgb(210, 255, 180);
    margin-left: 10px;
}

.make1 {
    margin-left: 10px;
    color: white;
}

.make2 {
    margin-left: 10px;
    color: rgb(151, 238, 11);
}

.greentext {
    position: absolute;
    text-align: center;
    color: rgb(151, 238, 11);
    z-index: 80;
    width: 450px;
    margin-left: 450px;
    margin-top: 130px;
}


.realtimeline {
    height: 1100px;
    width: 3px;
    position: absolute;
    background: rgb(117, 117, 117);
    right: 400px;
    margin-top: 50px;
}


.realtimeline2 {
    height: 3px;
    width: 200px;
    position: absolute;
    background: rgb(117, 117, 117);
    right: 400px;
    margin-top: 50px;
}

.fontbox {

    position: absolute;
    background: white;
    height: 400px;
    width: 270px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 1px 1px 15px grey;
}

.fontbox h2 {
    font-style: italic;
    color: rgb(75, 75, 75);
    margin-left: 40px;
    margin-top: 30px;
}

.fontbox p {
    font-style: italic;
    color: rgb(75, 75, 75);
    margin-left: 40px;
    margin-top: 50px;
    width: 200px;
}


.fontbox1 {
    position: absolute;
    background: white;
    height: 200px;
    width: 270px;
    margin-top: 480px;
    margin-left: 30px;
    box-shadow: 1px 1px 15px rgb(151, 151, 151);
    border-radius: 10px;
}

.fontbox3 {
    position: absolute;
    background: white;
    height: 70px;
    width: 270px;
    margin-top: 920px;
    margin-left: 30px;
    box-shadow: 1px 1px 15px rgb(151, 151, 151);
    border-radius: 10px;
}

.fontbox4 {
    position: absolute;
    background: white;
    height: 70px;
    width: 270px;
    margin-top: 1000px;
    margin-left: 30px;
    box-shadow: 1px 1px 15px rgb(151, 151, 151);
    border-radius: 10px;
}

.fontbox5 {
    position: absolute;
    background: white;
    height: 70px;
    width: 270px;
    margin-top: 1080px;
    margin-left: 30px;
    box-shadow: 1px 1px 15px rgb(151, 151, 151);
    border-radius: 10px;
}

.fontline {
    position: absolute;
    background: rgb(117, 117, 117);
    height: 300px;
    width: 0.5px;
    margin-top: 80px;
    margin-left: 275px;
}

.fontline1 {
    position: absolute;
    background: rgb(117, 117, 117);
    height: 140px;
    width: 0.5px;
    margin-top: 510px;
    margin-left: 275px;
}




.greycircle {
    height: 15px;
    width: 15px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    right: 394px;
}


.greycircle2 {
    height: 15px;
    width: 15px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 500px;
    right: 394px;
}

.greycircle3 {
    height: 15px;
    width: 15px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 700px;
    right: 394px;
}

.greycircle4 {
    height: 15px;
    width: 15px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 900px;
    right: 394px;
}

.greycircle5 {
    height: 15px;
    width: 15px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 1150px;
    right: 394px;
}

.greycircle6 {
    height: 10px;
    width: 10px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 70px;
    left: 270.2px;
}

.greycircle7 {
    height: 10px;
    width: 10px;
    background: rgb(117, 117, 117);
    border-radius: 50%;
    position: absolute;
    margin-top: 500px;
    left: 270.2px;
}



.realcircle {
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    background: rgb(117, 117, 117);
    margin-top: 41px;
    right: 600px;
}


.timelinebox {
    position: absolute;
    height: 160px;
    width: 300px;
    right: 30px;
    margin-top: 17px;
}

.timelinebox h2 {
    font-size: 40px;
    font-style: italic;
    border-left: 10px solid rgba(0, 68, 255, 0.644);
    margin-left: -10px;
    
}

.timelinebox h3 {
    margin-top: -35px;
}

.timelinebox img {
    float: right;
    margin-top: -75px;
    margin-right: 5px;
    object-fit: cover;
    object-position: center;
}


.timelinebox2 {
    position: absolute;
    height: 160px;
    width: 300px;
    right: 30px;
    margin-top: 400px;
}

.timelinebox2 h2 {
    font-size: 40px;
    font-style: italic;
    border-left: 10px solid rgba(180, 138, 0, 0.815);
    margin-left: -10px;
}

.timelinebox2 h3 {
    margin-top: -35px;
}

.timelinebox2 img {
    float: right;
    margin-top: -75px;
    margin-right: 5px;
    object-fit: cover;
    object-position: center;
}



.timelinebox3 {
    position: absolute;
    height: 160px;
    width: 300px;
    right: 30px;
    margin-top: 800px;
}

.timelinebox3 h2 {
    font-size: 40px;
    font-style: italic;
    border-left: 10px solid rgba(122, 101, 33, 0.815);
    margin-left: -10px;
}

.timelinebox3 h3 {
    margin-top: -35px;
}

.timelinebox3 img {
    float: right;
    margin-top: -75px;
    margin-right: 5px;
    object-fit: cover;
    object-position: center;
}

.timelinebox4 {
    position: absolute;
    height: 160px;
    width: 300px;
    right: 475px;
    margin-top: 200px;
    
}

.timelinebox4 h2 {
    font-size: 40px;
    font-style: italic;
    border-right: 10px solid rgba(206, 206, 206, 0.815);
    text-align: right;
    margin-right: -10px;

}

.timelinebox4 h3 {
    margin-top: -35px;
    text-align: right;
}

.timelinebox4 img {
    float: left;
    margin-top: -75px;
    margin-left: 5px;
    object-fit: cover;
    object-position: center;
}

.timelinebox4 p {
    text-align: right;
}

.timelinebox5 {
    position: absolute;
    height: 160px;
    width: 300px;
    right: 475px;
    margin-top: 600px;
    
}

.timelinebox5 h2 {
    font-size: 40px;
    font-style: italic;
    border-right: 10px solid rgba(120, 0, 189, 0.815);
    text-align: right;
    margin-right: -10px;

}

.timelinebox5 h3 {
    margin-top: -35px;
    text-align: right;
}

.timelinebox5 img {
    float: left;
    margin-top: -75px;
    margin-left: 5px;
    object-fit: cover;
    object-position: center;
}

.timelinebox5 p {
    text-align: right;
}

.timelinebox6 {
    position: absolute;
    height: 160px;
    width: 300px;
    right: 475px;
    margin-top: 1000px;
    
}

.timelinebox6 h2 {
    font-size: 40px;
    font-style: italic;
    border-right: 10px solid rgba(95, 19, 9, 0.815);
    text-align: right;
    margin-right: -10px;

}

.timelinebox6 h3 {
    margin-top: -35px;
    text-align: right;
}

.timelinebox6 img {
    float: left;
    margin-top: -75px;
    margin-left: 5px;
    object-fit: cover;
    object-position: center;
}

.timelinebox6 p {
    text-align: right;
}






.moneycontainer {
    height: 85%;
    width: 95%;
    border: solid 1px green;
    margin-top: 30px;
    margin-left: 35px;
    display: inline-flex;
    
}

.leftholder {
    width: 380px;
    height: 90%;
    margin-left: 40px;
    margin-top: -20px;
}



.overtext {
    width: 92%;
    margin-left: 15px;
    text-align: center;
  
}

.overtext2 {
    width: 92%;
    margin-left: 15px;
    text-align: center;
    margin-top: 10px;
}

.overtext3 {
    width: 92%;
    margin-left: 15px;
    text-align: center;
    margin-top: 10px;
}

.payment {
    text-align: center;
    background: rgba(151, 238, 11, 0.425);
    width: 92%;
    margin-left: 15px;
}




.picture1 {
    width: 92%;
    height: 130px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
    background: url("donations.jpg");
    background-size: cover;
    background-position: center;
}


.leftholder p {
    text-align: center;
    width: 330px;
    margin-left: 25px;
   
}
.leftholder ul {
    display: inline-flex;
    color: white;
    list-style: none; 
    margin-left: -35px;
    margin-top: 20px;
}

.leftholder ul li {
   background: rgb(8, 51, 8);
   height: 40px;
   width: 80px;
   margin-left: 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.leftholder ul li a {
    text-decoration: none;
    color: white;

}

.donatelink {
    width: 350px;
    background: rgb(8, 51, 8);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 5px;
}

.donatelink a {
    text-decoration: none;
    color: white;
}

.middleholder {
    width: 380px;
    height: 90%;
    margin-left: 30px;
    margin-top: -20px;
    
}

.picture2 {
    width: 92%;
    height: 130px;
    margin-left: 15px;
    margin-top: 15px;
    background: url("panda.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.middleholder p {
    text-align: center;
    width: 330px;
    margin-left: 25px;
}

.middleholder ul {
    display: inline-flex;
    color: white;
    list-style: none; 
    margin-left: -35px;
    margin-top: 20px;
}

.middleholder ul li {
   background: rgb(8, 51, 8);
   height: 40px;
   width: 80px;
   margin-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}

.middleholder ul li a {
    text-decoration: none;
    color: white;
}

.donatelink2 {
    width: 350px;
    background: rgb(8, 51, 8);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 5px;
}

.donatelink2 a {
    text-decoration: none;
    color: white; 
}

.rightholder {
    width: 380px;
    height: 90%;
    margin-left: 30px;
    margin-top: -20px;

}

.picture3 {
    width: 92%;
    height: 130px;
    margin-left: 15px;
    margin-top: 15px;
    background: url("treedonate.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.rightholder p {
    text-align: center;
    width: 330px;
    margin-left: 25px;
}

.rightholder ul {
    display: inline-flex;
    color: white;
    list-style: none; 
    margin-left: -35px;
    margin-top: 20px;
}

.rightholder ul li {
   background: rgb(8, 51, 8);
   height: 40px;
   width: 80px;
   margin-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
}

.rightholder ul li a {
    text-decoration: none;
    color: white;
}

.donatelink3 {
    width: 350px;
    background: rgb(8, 51, 8);
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 5px;
}

.donatelink3 a {
    text-decoration: none;
    color: white; 
}

.container7 {
    width: 100%;
    height: 400px;
    background: white;
}



.overlaybox {
    background: white;
    opacity: 0.3;
    height: 270px;
    width: 500px;
    position: absolute;
    margin-top: -330px;
    left: 100px;
    border-radius: 5px;
    
}

.subscribe {
    position: absolute;
    margin-top: -330px;
    width: 430px;
    text-align: center;
    margin-left: 140px;
    padding: 0px;
    font-style: italic;
    
  
}

.subscribe p {
    border-top: solid 2px rgb(116, 189, 0);
    padding-top: 20px;
}

.footerbox {
    height: 85%;
    width: 75%;
    border-top: solid 2px rgb(116, 189, 0);
    border-bottom: solid 2px rgb(116, 189, 0);
    margin-left: 150px;
    margin-bottom: -20px;
    
    
    
}



